[2014-06-17 17:19] zeisler opened #2 "mock_instance/class_method block argument only takes local variables."
When using Rspec and mocking a method:
let(:display_name){ "First, Last Name"}

User.mock_instance_method(:display_name){ display_name }

display name is not in scope, to make it work the let must be saved to a local variable. This is unexpected and would be better if the scope local to the block creation location.

[2014-06-17 17:21] zeisler opened #3 "When calling a has_many assocation the scoped methods are not there."
Add rails scoped methods to association. For example User.posts.newest would not work.

[2014-06-23 19:56] #2 closed, assigned to nobody

[2014-07-24 03:43] #3 closed, assigned to nobody

[2014-08-04 12:05] Nikamura opened #5 "Integration with Factorygirl"
Hello,

I would like to ask if there are any future plans to integrate active_mocker with factorygirl?

[2014-08-04 23:39] zeisler opened #6 "has_one relations are read only"
Found case where creating a mock would allow the setting of a has_one relationship. Couldn't find the rails docs for this, but in rails it looks it works as a read only attribute and is not settable. Needs further research and feedback.

[2014-08-05 01:16] #6 closed, assigned to nobody

[2014-08-05 22:00] joshleitzel opened #8 "Generator fails for abstract classes"
Thanks for this gem! I'd love to try it out but I'm running into a problem right out of the gate with `rake active_mocker:build`:

[code]

Seems like the problem is that the class in question isn't backed by a database table, such as:

[code]

Poking around, it looks like there is a check in `get_table` to see if the table is `nil`, but `run` still assumes that the table is there. I imagine this m

[2014-08-06 16:38] #8 closed, assigned to nobody

[2014-08-06 16:58] joshleitzel opened #10 "Generator fails for STI models"
I'm seeing this issue when running the generator:

[code]

The model in question is setup with single-table inheritance and looks like this:

[code]

The generator fails while processing `ChildModel`.

[2014-08-07 23:17] zeisler opened #11 "Feedback on adding a pass through select method."
I am considering this in the next release. I feel a little hesitant because it could lead to some production code bugs. For example `User.select(:name).first.email` will raise an error in ActiveRecord but it would work in ActiveMocker. I considered making it work the same but the complexity is high because the record/object would need to look up to it's owner and see what methods it can emit, but

[2014-08-11 17:51] jmgarnier opened #12 "Project name"
You may want to change the project name to follow http://xunitpatterns.com/Test%20Double%20Patterns.html

The word "mock" implies to run some verification at some point ( `expect(mock).to receive(:method`).

Looking at the README, it sounds like you have built a library to build fake active record models. I suggest something like `active_record_doubles`.

[2014-08-13 17:07] #12 closed, assigned to nobody

[2014-08-19 14:52] #10 closed, assigned to nobody

[2014-08-19 14:58] zeisler opened #13 "Mock Generation Fails when there is no ActiveRecord::Base class"
In config/initializers/active_mocker.rb

[code]

If a model has a base class that still behaves like ActiveRecord but doesn't directly inherit from it add it
to the model_base_classes array.

This is on master branch, test it out and see if there are any edge cases.

[2014-08-19 15:00] #11 closed, assigned to nobody

[2014-10-05 14:02] iartarisi opened #15 "ruby version requirement"
README says: Requires Ruby MRI **=<** 2.1.
bundler says: Gem::InstallError: active_mocker requires Ruby version **>=** 2.1.0.

[2014-10-07 04:23] #15 closed, assigned to nobody

[2014-10-14 16:44] #13 closed, assigned to nobody

[2014-10-14 17:38] fgrehm opened #17 "Breaks when `has_many` has a custom scope :-("
Something similar to:

[code]

Give me back a:

[code]

I tried looking around the codebase to see if I could be of any help but time ran out. To reproduce the issue with the current specs, just change [this line](https://github.com/zeisler/active_mocker/blob/c7ca5bb6aad6de5cd39399da18cf8b8b3ed0db27/spec/lib/model.rb#L9) to:

[code]

If you need any other information just LMK!

[2014-10-15 20:46] #17 closed, assigned to nobody

[2014-10-16 00:59] zeisler opened #19 "Test Gem against different versions of rails"
Looking for pull request for someone to implement this gem: https://github.com/thoughtbot/appraisal

I want to test with rails 4.1, 4.0 and maybe 3.x if it works.

[2014-10-20 00:14] #19 closed, assigned to nobody

[2014-10-31 16:33] #5 closed, assigned to nobody

[2015-02-23 14:03] nightscape opened #20 "ActiveMocker deletes entire hard disk"
ActiveMocker has a very critical problem:
https://github.com/zeisler/active_mocker/blob/master/lib/active_mocker/generate.rb#L104
We can't yet reproduce how exactly this happened, but somehow in the above line ```Config.mock_dir``` was ```nil``` or ```""``` which caused ActiveMocker to delete everything it could under the root partition!

[2015-02-24 10:41] nightscape commented on #20
Ok, turns out that if you run this thing without Rails then ```Config.mock_dir``` keeps its default ```nil```:
https://github.com/zeisler/active_mocker/blob/master/lib/active_mocker/config.rb#L34

Wow, so scare, much danger :p

[2015-03-01 05:21] zeisler commented on #20
This is not good, I am sorry that this happened. I would of gotten to it sooner, but I am in the middle of a move and didn't see it. I will make a patch asap.

[2015-03-01 19:42] zeisler commented on #20
With these commit I have put in several guards to keep this from ever happening again. https://github.com/zeisler/active_mocker/commit/86fb8bd129342e113f6fd1f0b295c5053170cfec https://github.com/zeisler/active_mocker/commit/db728d0d32b3b94c45770216d4f269f8a93aa378

This has been fixed by raising an error if mock_dir is not set. Also, it will never delete any directories, only files that match `*_m

[2015-03-01 19:42] #20 closed

[2015-03-01 21:04] zeisler commented on #20
After testing this in a virtual machine I found it can only happen if you're running as root. So to make this happen you have to run as root and not have Rails in your gemfile. I would recommend only running as root when absolutely necessary as a general rule in Unix. Neverless the issue is fixed and will not happen no matter if your are running as root or not.

Repeatable Test Steps
DO NOT TRY ON

[2015-03-02 09:20] jmtoball commented on #20
Although you can still delete all files that belong to you as non-root. At least that's what happened to me and what @nightscape described in this issue. Thank you for fixing this so quickly :-)

[2015-03-02 15:32] zeisler commented on #20
Again I apologize for this happening, it's a complete over sight in my part. Hopefully you had backups.

If you find that ActiveMocker brings value to you consider contributing. There are places that need documentation, feature request, code clean up and optimizations that would all be welcome.

[2015-03-04 22:12] zeisler opened #21 "Improve Documentation"
Looking for support in documenting useful things, both in the readme and in the code.

If you find value in the project please consider giving back to the community.

[2015-03-09 19:46] zeisler opened #22 "Calling scoped method that has not been stubbed raises incorrect error."
TypeError: backtrace must be Array of String
/Users/zeisler/.rvm/gems/ruby-2.1.5/gems/active_mocker-1.8.3/lib/active_mocker/mock/mock_abilities.rb:30:in `set_backtrace'
/Users/zeisler/.rvm/gems/ruby-2.1.5/gems/active_mocker-1.8.3/lib/active_mocker/mock/mock_abilities.rb:30:in `raise'
/Users/zeisler/.rvm/gems/ruby-2.1.5/gems/active_mocker-1.8.3/lib/active_mocker/mock/mock_abilities.rb:30:in `is_imp

[2015-03-25 23:00] zeisler opened #23 "Fall back for specific database types"
Postgresql has JSON, Hstore and there are others that are not supported. Currently if you try to generate a mock from model that is not part of the common types the generation fails. I would like to make an AnyType that would be a fallback. Also provide a way so that a user could extend the types to add their own custom types.

[2015-03-25 23:08] zeisler opened #24 "Create an API for custom relation collections"
This would use the private api of ::new_relation on a mock. The reason this is private is because I don't want to provide a method that could be used in production code that won't work with ActiveRecord. If someone knows of a good way to do this with the AR api let me know, I would like to copy it when ever I can.

[code]

This is helpful when stubbing out sets of queries without having to deal wi

[2015-03-25 23:09] #22 closed

[2015-03-25 23:10] zeisler opened #25 "Research Optimizations"
Provide benchmarks of specific uses cases.

[2015-03-27 18:05] zeisler commented on #24
Have it take a block where you can scope what is in the collection.

[code]

[2015-05-06 17:50] lmorais opened #26 "Doesn't works with db/structure.sql"
Doesn't works with db/structure.sql instead of db/schema.rb

rake active_mocker:build

[code]

[2015-05-06 17:58] zeisler commented on #26
I'm sorry your having this problem. Currently active mocker is dependent on the schema.rb. One way around that I think that may work would be just to get the information from each ActiveRecord models This would take some time to do and I would be open to a pull request for this feature.

[2015-05-24 05:16] zeisler commented on #26
After some consideration I would like to remove the schema.rb dependency for version 2.0.0. I am setting a goal to release version 2 in 3-6 months.

[2015-05-29 18:06] zeisler opened #27 "Nested models Dirs will not generate"
Only root level models will generate. Should generate all models no matter nesting.

[2015-05-29 19:50] zeisler opened #28 "Models in a NameSpace won't generate"

[2015-09-29 00:47] zeisler opened #30 "A created record that is modified persists changes without calling #save"
Fix this limitation.

A record that has been created and then is modified will persist changes without calling #save.

[2015-09-29 00:49] #27 closed

[2015-11-03 19:11] krainboltgreene opened #31 "Parser seems to throw up on regexp"
I realize this isn't the parser library, but it's happening with the usage of this gem.

[2015-11-03 19:12] krainboltgreene opened #32 "Build task assumes schema.rb"
:(

[2015-11-03 19:21] zeisler commented on #31
Can you provide an example?

[2015-11-03 19:23] zeisler commented on #32
Are you using db/structure.sql? If so I am working on version 2.0 so that it will not require the schema.rb. I don't have know when it will be done, but I'm working hard on it.

[2015-11-03 19:40] krainboltgreene commented on #32
Awesome!

[2015-11-06 18:00] #32 closed

[2015-11-06 18:46] krainboltgreene commented on #32
Yes, we're using `db/structure.sql` I can't wait for 2.0! :D

[2015-12-02 05:52] zeisler commented on #26
I am happy to announce version 2.0.0.beta1. No schema.rb file required. [rubygems](https://rubygems.org/gems/active_mocker/versions/2.0.0.beta1)

[2015-12-02 05:57] zeisler commented on #23
New DB types can be registered with this API.

[active_record_schema_scrapper/attributes.rb](https://github.com/zeisler/active_record_schema_scrapper/blob/master/lib/active_record_schema_scrapper/attributes.rb)
[code]

[2015-12-02 05:57] #23 closed

[2015-12-02 05:58] zeisler commented on #31
I don't know how to reproduce this. If you can provide the code of the line where it's failing I will reopen the issue.

[2015-12-02 05:58] #31 closed

[2015-12-02 05:59] #26 closed

[2015-12-16 22:37] semikolon commented on #28
I need this too. Would be awesome...

[2015-12-17 00:20] zeisler commented on #28
Thanks for letting me know that you need it. I will prioritize it higher.

[2016-01-12 20:52] krimsonkla opened #33 "active_mocker appears to break with rails 4.2.1"
After upgrading to rails 4.2.1, active_mocker:build completes fine, however the generated files do not execute. I have attempted to fork, pull, investigate however my limited rails knowledge has prevented me from getting too far.

/home/krimsonkla/Candi/spec/mocks/access_token_mock.rb:175: syntax error, unexpected end-of-input, expecting keyword_end
	from /home/krimsonkla/.rbenv/versions/2.2.1/lib

[2016-01-12 20:55] zeisler commented on #33
@krimsonkla can you send me your `access_token_mock.rb` file. What version of active_mocker are you using?

[2016-01-23 19:00] zeisler commented on #33
If you can provide more information I'd be glad to reopen this issue.

[2016-01-23 19:00] #33 closed

[2016-01-23 19:02] zeisler commented on #28
@semikolon if you use `gem "active_mocker", github: "zeisler/active_mocker"` you can try out this feature. I am not able to release a new version yet because of some environment differences in Travis that cause the build to fail.

[2016-02-09 01:03] zeisler commented on #28
it's released: https://rubygems.org/gems/active_mocker/versions/2.1.0

[2016-02-09 01:03] #28 closed

[2016-02-09 01:09] zeisler opened #35 "Mocks presist after model is deleted"
This is a regression from 2.1

[2016-02-09 19:17] semikolon commented on #28
Hey, thanks! :) Awesome, trying it out soon
tis 9 feb. 2016 kl. 02:03 skrev Dustin Zeisler <notifications@github.com>:

[2016-03-15 23:02] zeisler opened #38 "Let mocks be a better reference of DB schema"
[code]

Something like this where the name and type can be easily seen when looking at the mocks.

[2016-03-24 16:23] #35 closed

[2016-04-25 15:34] tonyxyz opened #42 "ModelSchema::Assemble only examines files in root of configured directory."
It would be great to load and mock all classes under app/models/some/path/to/my_model.rb.

[2016-04-25 22:53] zeisler commented on #42
Are you asking to be able to generate mocks from a custom path? That can be set by `ActiveMocker::Config.model_dir="app/models/some/path/to/**/*.rb"`

OR

From rake:
`MODEL_DIR="app/models/some/path/to/my_model.rb" rake active_mocker:build`

[2016-04-25 23:12] markburns commented on #42
I'm picking this up from @tonyxyz in a different time zone. From reading his email it sounds like it's not about loading in a custom folder but rather picking up correctly all files defined in any sub directory of app/models.

To paraphrase:

We have Foo.  This inherits from Bar, which includes Bar::Baz amongst other things.

We think this is failing because Bar::Baz is never loaded.

The log repo

[2016-04-25 23:16] zeisler commented on #42
@markburns and @tonyxyz what version of active_mocker are you using?

[2016-04-26 00:28] markburns commented on #42
Good shout. I would guess this issue is based on version `1.7.x` due to our app dependencies.
Which looking at it now looks like it is because of `active_mocker`'s dependency on `rake` `~> 10.0` and we have a dependency on `~> 11.0` elsewhere.

Will try a looser dependency in a fork of this gem to see if it allows an upgrade and fixes the issue, then a PR if so.

BTW does this sound like something

[2016-04-26 01:12] markburns commented on #42
https://github.com/zeisler/active_mocker/pull/43 fixes rake issue. But I believe this issue still remains. Will update with more info if/when I find out.

[2016-04-26 04:31] zeisler commented on #42
active_mocker v1.7.3 came out Dec 1, 2014. Migrating your project to v2.1.x should fix your issue since the generation engine has been completely rewritten. I will accept the change to reduce the rake dependancy and that will most likely be v2.1.4

[2016-04-26 06:31] markburns commented on #42
@tonyxyz - when you come online I'd suggest we close this particular issue and determine more relevant PRs/issues as appropriate.

[2016-04-26 06:40] markburns opened #44 "Ignore Non AR subclasses"
I've been trying to get an isolated failing spec for this, but I don't quite fully understand the code and specs of this project yet.

If we have `Foo` and that inherits from top level class `Bar` then I'd rather not see any errors or warnings like:

[code]

[2016-04-26 06:42] markburns commented on #44
BTW, happy to help contribute to the project if you can give pointers. We have a bit of time to look at improving our test suite, and one option is to look at using active_mocker to speed things up, if we can get it to work

[2016-04-26 06:53] markburns opened #45 "Enable use of alias_method_chain on Relations"
Sorry for lack of test isolation case so far. This is on latest master of active_mocker.

In a class Foo with `some_aliased_method` aliased, a stack trace like this results

[code]

[2016-04-26 06:54] markburns opened #46 "Support polymorphic associations"
Usage of polymorphic associations results in an exception

[2016-04-26 06:55] markburns opened #47 "Ignore modules"
Usage of modules results in e.g.

[code]

[2016-04-26 06:59] markburns opened #48 "Superclass mismatch"
This class results in a superclass mismatch error:

[code]

[code]

[2016-04-26 12:18] tonyxyz commented on #42
Many thanks markburns, zeisler. This is working fine on the leading edge.

[2016-04-26 12:18] #42 closed

[2016-04-26 13:59] zeisler commented on #45
Can isolate this down to the minimum ActiveRecord model code that causes the issue?

[2016-04-26 14:05] zeisler commented on #44
This was mostly just for debugging and I made the assumption that the model_dir would only contain ActiveRecord models. I could add a flag to ignore such cases.

In my past projects I would put classes as you are mentioning in the lib directory.

[2016-04-27 10:41] markburns opened #49 "Some mechanism for ignoring DSL code in classes"
We have a bunch of classes failing to be generated due to using `state_machine` and `liquid_methods`. Both of which provide class level methods to the model class body.

Perhaps there could be a config file for various settings, including skipping over specific class methods in AR class definitions?

I can't imagine how support for something like a state machine gem would be easy and so we will pr

[2016-04-27 10:47] markburns commented on #44
That's not the case for us, and not an option really as the project is huge. Model doesn't necessarily mean the Active Record design pattern. It also doesn't necessarily mean ActiveRecord, the Rails gem.
You can have models that are not persisted. Or persistence related classes that are not necessarily domain concepts or 'models'.

I think it would make sense that the project defaults to just skip

[2016-04-27 11:55] markburns commented on #45
Closing as have seen working in an isolated app and am guessing it is down to some very specific peculiarity of our app

[2016-04-27 12:57] markburns commented on #45
Managed to replicate. I mean, it is a bit crazy code, so not sure how easy it is to support, but here it is:

[code]

[code]

[2016-04-27 16:39] zeisler commented on #44
I think the bast way to deal with this is to only have these show up when in debug mode and they should not count as a failure. Since this is not a blocking issue and only a nice to have I'm going to prioritize less than the other issues you've have raised.

[2016-04-27 17:01] markburns commented on #44
I've got a local fix for this, so will get a test for it and do a PR
tomorrow and see what you think.
On Thu, 28 Apr 2016 at 01:39, Dustin Zeisler <notifications@github.com>
wrote:

[2016-04-29 21:18] fatuhoku opened #52 "Be more optimistic with rake dependency (rake 11)"
In the `active_mocker.gemspec`:

[code]

is too restrictive. I'm having to downgrade rake from v11 just to use the latest version of active_mocker.

[2016-04-29 21:26] fatuhoku opened #53 "Can't generate mocks for rails Concerns"
I'm using active_mocker version `2.1.3`. I ran `rake active_mocker:build` for all of my models, and the two concerns I have failed to get mocked.

One concern, called `RecordChanges` is used by a model called `Booking`. The top of my generated file `booking_mock.rb` looks like the following:

[code]

The mention of `RecordChanges` causes the error:

[code]

Even though it's declared right there:
[

[2016-04-29 21:31] fatuhoku commented on #53
Ah hah. I found that `RecordChanges` was declared as a concern, which active_mocker failed to create a mock of.

[2016-04-29 21:36] fatuhoku opened #54 "Error message "To see more/less detail set error_verbosity = 0, 1, 2, 3" very unclear. How do you set error_verbosity with rake?"
Being a Ruby newcomer it'd be nice to know the EXACT rake syntax I need to get verbose messages, so that I can understand why active_mocker is tripping up.

e.g. I just tried `rake error_verbosity=3 active_mocker:build` with no avail

[2016-04-29 21:39] zeisler commented on #54
I agree this is not very clear. I will work to clarify it in the future. This is how it is done.

`ERROR_VERBOSITY=3 rake active_mocker:build`

[2016-04-29 21:56] fatuhoku commented on #54
Thanks @zeisler I have made tiny progress. :P

[2016-04-29 21:59] fatuhoku opened #55 "Database type 'jsonb' is not a registered type. To register use ActiveRecordSchemaScrapper::Attributes.register_type(name: :jsonb, klass: <RubyClass>)"
## 1. Postgres jsonb type => Hash
Let's say I have a `schema.rb` that declares a posts table thusly:

[code]

Here's the error I get when I try `rake active_mocker:build`:
[code]

It's not clear to me where I'm supposed to put `ActiveRecordSchemaScrapper::Attributes.register_type(name: :jsonb, klass: <RubyClass>)`. I think it's active_mocker's job to register these data types prior to trying to sc

[2016-04-29 22:02] zeisler commented on #55
puts this in config/initializers/active_mocker.rb

`ActiveRecordSchemaScrapper::Attributes.register_type(name: :jsonb, klass: Hash)`

[2016-04-29 22:02] fatuhoku commented on #23
@zeisler where are you supposed to put this registration code?

[2016-04-29 22:03] fatuhoku commented on #55
Awesome.

Related to #23. Wasn't clear from error message where you're supposed to put that line.

[2016-04-29 22:03] zeisler commented on #52
This is a current PR open for this.

https://github.com/zeisler/active_mocker/pull/43

I expect resolution by within the next day or so.

[2016-04-29 22:05] fatuhoku commented on #52
@zeisler 🍻  that's just awesome.

[2016-04-29 22:14] zeisler commented on #55
I did not map out every possible DB type to the Ruby type. `klass:` refers to `Class`

So `klass:` can be any Ruby type or a Virtus::Attribute
https://github.com/solnic/virtus#custom-coercions

[2016-04-29 22:15] zeisler commented on #23
for rails

config/initializers/active_mocker.rb

[2016-04-29 22:31] fatuhoku commented on #53
@zeisler Any ideas?

[2016-04-29 22:40] zeisler commented on #53
Any included modules are assumed to be mock compatible code if is not then you may need to disable that feature with this line.
`ActiveMocker::Config.disable_modules_and_constants = true`

It seem like you are having a more specific issue, I will look into to it, but for now that line should get you past the error.

[2016-04-29 22:41] fatuhoku commented on #53
I've attached the full stack trace if it helps here:

[code]

[2016-04-29 22:43] fatuhoku commented on #53
@zeisler The line `ActiveMocker::Config.disable_modules_and_constants = true` doesn't seem to have helped with the error.

[2016-04-29 22:50] zeisler commented on #53
I failed to mention that you need to run `rake active_mocker:build` again after adding that to config/initailizers/active_mocker.rb

[2016-04-30 07:24] markburns commented on #53
We've been seeing this with any of our modules in a namespace too. Was going to maybe look at what the fix was next week.

e.g.
[code]

We've hacked a fix which is to edit the actual models to say `include Product::SomeNamespacedModule`. But that is obviously temporary whilst we look into the real solution.

[2016-04-30 11:00] fatuhoku commented on #53
Also when I try to run my test I get:

[code]

Hmm.

[2016-04-30 12:29] fatuhoku commented on #55
@zeisler I've updated the issue with another case, `inet`, where the generated mock is invalid because it's missing a `require` for the relevant library. I guess it's necessary to add that require manually for now.

[2016-04-30 12:40] fatuhoku commented on #5
Hmm. Any chance that `factory_girl_rails` could be supported?

[2016-04-30 23:43] zeisler commented on #52
Fixed with https://github.com/zeisler/active_mocker/pull/43

[2016-04-30 23:43] #52 closed

[2016-04-30 23:59] zeisler commented on #45
Thanks for the repo steps. The change will need to be made in [dissociated_introspection](https://github.com/zeisler/dissociated_introspection). This should not be a difficult change.

[2016-05-01 00:08] zeisler commented on #46
This is known limitation of active_mocker. To add this feature it would take adjustments in the generation code as well the in-memory query engine. If you like assist with the process what would make things move faster would a PR with all the needed models and a failing testing in [active_record_compatible_api.rb](https://github.com/zeisler/active_mocker/blob/master/test_rails_4_app/spec/active_re

[2016-05-01 00:19] zeisler commented on #49
This will also most likely be a change in [dissociated_introspection](https://github.com/zeisler/dissociated_introspection). I think the best approach to this would be to ignore unknown methods like these, by using method_missing or some other means.

[2016-05-01 00:27] zeisler commented on #53
The solution here is make all modules fully specify there namespace. These changes will take place in both/either https://github.com/zeisler/active_mocker/blob/master/lib/active_mocker/mock_creator.rb or https://github.com/zeisler/dissociated_introspection.

[2016-05-01 00:29] zeisler commented on #54
The error message should be changed to reflect this to make it easier for the next person.

[2016-05-01 00:42] zeisler commented on #55
ActiveMocker does no auto loading . It made to be as fast as possible so you only require the things that you need.

[2016-05-01 05:03] zeisler commented on #5
@fatuhoku It may work just work with `factory_girl_rails`. I suggested plain `factory_girl` only because I like to run my active_mocker tests without the rails framework loaded, to increase it's speed, but there's nothing keeping you from loading it and using `factory_girl_rails`. Again I don't use factory_girl and don't plan to provide any special support for it, but there's reason why it shouldn

[2016-05-01 05:08] zeisler commented on #53
The reason this is happening is because in dissociated_introspection the module inclusion is being done in complete isolation without any context of where things are defined. There is no good reason to keep doing it that way, I should be able to compare the dissociated_introspection class version and the real model to determine the full name of included modules.

[2016-05-01 07:29] fatuhoku commented on #5
@zeisler hmm I ran into various issues trying to get Rails to recognise my ActiveRecord constants and eventually gave up. I've come around to your thinking — there's really no need to have Rails kicking around for unit tests!  I ended up just going `MyEntity.create(...)` rather than using `factory_girl`.

Thanks for the response.

[2016-05-01 07:31] fatuhoku commented on #54
Awesome.

[2016-05-01 07:31] #54 closed

[2016-05-01 07:40] markburns commented on #53
Sweet. So @zeisler I'm guessing this project is something you look at on weekends? We'll probably be wanting to fix (and provide a PR) for this issue during the next week. Do you have any particular pointers to look at for a fix? I've had a glance over the `dissociated_introspection` gem and it seems like it might be tricky.

The thing that makes me uncomfortable is the cyclic dependencies.
So in

[2016-05-01 11:09] markburns opened #58 "Support first_or_create on collection"
From what I have seen `Collection`, `Relation`s and `Scope`s don't currently support the `first_or_create` method.

I'm doing a workaround for now, but wanted to make a note of the issue so I don't forget to give proper repro steps.

[2016-05-01 14:34] zeisler commented on #53
There are two explicit phases of ActiveMocker the generation phase and running of the mocks phase. For the generation phase rails is loaded, it's necessary to get the schema information, because not everyone has a schema.rb. The purpose of dissociated_introspection is because of the difficulty to know what methods are user defined and what are ActiveRecord defined, through meta programming. So rem

[2016-05-01 15:09] markburns commented on #53
Interesting idea. I'll take a good look at it next week.
It may be possible to use source location info too to determine user code vs framework code

[2016-05-02 04:13] #44 closed

[2016-05-02 05:09] #48 closed

[2016-05-02 05:10] #47 closed

[2016-05-03 16:52] #55 closed

[2016-05-03 16:53] zeisler commented on #45
@markburns can you try this out on latest master?

[2016-05-03 20:42] zeisler commented on #53
With this PR https://github.com/zeisler/active_mocker/pull/62 it should address @markburns example not sure if it will also fix @fatuhoku issue. Let me know.

[2016-05-04 02:26] markburns opened #65 "undefined method `colorize' for "superclass must be a Class (Module given)":String"
On latest master we have the following exception when running `bundle exec rake active_mocker:build`. Which makes me think there is maybe not enough test coverage.

[code]

[2016-05-04 05:32] markburns opened #66 "Copy across attr_accessors and cattr_accessors"
I believe that `attr_accessor` definitions are not defined in the mocks so maybe this is an oversight?

[2016-05-04 16:20] zeisler commented on #65
I am unable to reproduce this error

[2016-05-04 17:53] markburns commented on #65
Are you running bundle exec? Maybe using in a rails app that includes the colorized gem itself?

[2016-05-04 18:16] zeisler commented on #65
I am using `bundle exec` and was testing it with the [example_rails_app](https://github.com/zeisler/active_mocker/tree/master/example_rails_app)

[2016-05-04 18:19] zeisler commented on #66
Yes `attr_*` methods are not added to the mock. I've never yet needed them, but there is no reason we can't do them the same way I just added `alias_attribute`.

[2016-05-05 01:25] markburns commented on #66
I think your goals and our goals may be slightly different. Not misaligned, just we are probably coming from completely different angles to different problems. We have a huge application with a test suite that takes (non-parallelized) about 2.5-3hrs. We still haven't successfully gotten active_mocker to get one of our full specs files to pass, but it is looking promising the tests we have seen pas

[2016-05-05 02:23] zeisler commented on #66
Supporting user defined method would mean you'd need to support the entire active record api, even running SQL strings. This would be an infinite amount of work. There is an assumption that included modules are safe to run, an assumption that I know is not always true, but non the less the way I've used it.

You could try moving your methods in modules.

Making this gem a drop in replacement for a

[2016-05-05 03:03] markburns commented on #66
Rather than e.g. SQL strings, which I agree would be painful to support.
What I'm really thinking of is being able to test methods like the ones you might suggest putting into modules.
Things that might depend on an associated object built with a factory and say iterate over and join some fields or something like that. Basically, simple methods only doing things with attributes and associations.

[2016-05-05 03:05] markburns commented on #66
Maybe you are right that if it gets the 80% done and is really useful, then the support burden would become huge as the expectation to do the remaining 20% may be great

[2016-05-05 04:15] zeisler commented on #66
Let me think about importing user defined methods into the mock. It's a big change in the current paradigm, but the functionally it's the same as running user defined method from modules in the mock. Really this would most likely leek over for the need for `scope`s too.

[2016-05-05 04:33] markburns commented on #66
Absolutely. Actually it makes sense for us to at least try out putting some of the instance methods into modules to see how far we get with that approach. If it is only e.g. 2% of tests that end up passing this way then we'll probably want to rethink the strategy completely, and there is little incentive for us to try and drive this project in that direction. If it is 80% then there is a clear ben

[2016-05-05 12:43] vshjxyz commented on #65
hey guys, same error here using `ERROR_VERBOSITY=3 rake active_mocker:build`

[2016-05-05 22:47] zeisler commented on #65
Should be fixed with this merged PR https://github.com/zeisler/active_mocker/pull/67

[2016-05-05 22:47] #65 closed

[2016-06-20 20:13] #45 closed

[2016-06-20 20:21] zeisler opened #72 "Constant values assigned to non sudo primitives objects"
[code]

When values are sudo primitives objects calling `#inspect` results in syntacticly correct assignment, but in many cases calling `#inspect` will not result in a correct assignment.

Possible solution when it is not a string, a number, or other printable object then replace it with a string `"ActiveMocker can not determine the value, if needed stub this const with a valid test value"`

[2016-06-20 20:24] #53 closed

[2016-06-20 21:04] fatuhoku commented on #53
I've switched over to using [Zeus](https://github.com/burke/zeus) to achieve fast tests for the time being. We also have been moving away from using Concerns :P

[2016-07-05 18:05] #72 closed

[2016-07-05 18:07] zeisler commented on #66
Willing to accept a PR for this, but it does not provide any benefit for my self or enough benefit for the general user for me to develop.

[2016-07-05 18:07] #66 closed

[2016-07-05 18:11] zeisler commented on #24
I'm thinking that this should be a testing specific method. So considering adding it to the `rspec_helper`.

[code]

[2016-07-05 21:56] zeisler opened #79 "Missing schema information on a non abstract model does not fail."

[2016-07-05 22:04] zeisler opened #80 "Less warnings when generating for mixed model and non model files."
Sample output

[code]

[2016-07-05 22:05] zeisler commented on #80
As possible solution create an inclusive or exclusive config file as the source for generating mocks.

[2016-08-12 23:11] jdcalvin opened #81 "Using a default value for decimal data types results in a failing mock class generated in 2.2.3 and a mock class syntax error in version 2.0.0"
A table using a default value for a decimal column results in an error when building mock files. I tested this by creating a new rails app with the following schema:

[code]

On active_mocker v 2.2.3, running `rake_active_mocker:build`with verbosity 3 results in the following: (full stack trace omitted)
[code]

Downgrading to version 2.0.0 results in a successfully generated mock class. However, t

[2016-08-12 23:33] zeisler commented on #81
Hey @jdcalvin nice to hear from you. I'll take a look at this.

[2016-08-13 16:44] zeisler commented on #81
Fix merged with https://github.com/zeisler/active_mocker/pull/82
Will release v2.2.4

[2016-08-13 17:05] zeisler commented on #81
Released https://rubygems.org/gems/active_mocker/versions/2.2.4

[2016-08-13 17:05] #81 closed

[2016-08-13 17:12] zeisler commented on #81
@jdcalvin Let me know if you have other issues and I try to address them ASAP. Also if you have any reasonable feature requests they'll be high priority.

[2016-08-13 22:13] jdcalvin commented on #81
Thanks Dustin!

[2016-08-26 19:19] zeisler opened #84 "Calling update on a record should call save as well."
ActiveRecord Code

[code]

ActiveMocker::Base Code

[code]

Calling update should save the record if it was not already persisted.

[2016-08-28 22:08] zeisler commented on #84
https://github.com/zeisler/active_mocker/pull/85

[2016-08-28 22:29] zeisler commented on #58
https://github.com/zeisler/active_mocker/pull/86

[2016-08-28 22:43] #58 closed

[2016-08-28 22:43] #84 closed

[2016-08-28 22:43] #49 closed

[2016-08-28 22:45] zeisler commented on #24
This is currently available and works just fine.
`UserMock::ScopeRelation.new([UserMock.new, UserMock.new])`

[2016-08-28 22:45] #24 closed

[2016-08-28 22:45] #38 closed

[2016-12-19 19:37] zeisler opened #100 "Correctly Support many through"
[code]

ActiveMocker treats credit_liabilities as an association on the parent model and ignores the `through`.

The work around is
[code]

It should work like:

[code]

[2017-12-19 21:47] maxp-edcast opened #117 "Minitest support?"
Hello, this looks like an awesome project. Our test base is incredibly slow, probably because of all the DB calls. I would like to integrate this tool, but ... we use minitest. Is it possible to use this with minitest?

[2017-12-20 03:26] zeisler commented on #117
Thanks for your interest. Because it’s just ruby you can use it just fine with minitest.  The only thing you won’t get is the automatic constant stubbing. You’ll need to use ‘UserMock’ instead of ‘User’. An intergration for auto stubbing is also possible but the code needs to be written. I’d be  willing to work with anyone to make a PR.

[2018-09-20 17:36] RepoCorp commented on #46
I'm also trying to use a polymorphic association but the error I'm getting is

    Polymorphic association does not support to compute class.

Is the polymorphic associations features already implemented? What does this error means and is there a way to solve it?

[2018-10-05 19:57] #117 closed

[2019-07-09 00:42] svanzoest opened #121 "missing forwardable dependency"
with ruby 2.5.5 I am getting errors as follows:

[code]

when running `bundle exec rspec`. It seems like the `forwardable` gem is missing from the `Gemfile`/`.gemspec`?

`ruby -e "require 'rspec';require 'active_mocker/rspec_helper'"` fails with
[code]
Adding `forwardable` seems to fix it.
`ruby -e "require 'forwardable';require 'rspec';require 'active_mocker/rspec_helper'"`

[2019-07-09 20:19] zeisler commented on #121
It looks like it's missing a require in this file [lib/active_mocker/loaded_mocks.rb](https://github.com/zeisler/active_mocker/blob/master/lib/active_mocker/loaded_mocks.rb). Do you, @svanzoest mind opening a PR and adding this line to the top of the file `require "forwardable"`

[2019-07-09 22:17] svanzoest commented on #121
@zeisler I haven't had a chance to test the change much, but I created #122

[2019-07-10 22:40] #121 closed

[2019-07-24 08:14] mahigawas28 opened #123 "Getting "ActiveMocker.safe_methods is unable to find methods: __missing_class_macros__" error for ruby 2.5.5"
I am getting `ActiveMocker.safe_methods is unable to find methods: __missing_class_macros__` error when try to run rake task `rake active_mocker:build` with ruby version 2.5.5

It's working fine with old version of ruby (2.4.5)

[2019-07-24 22:28] zeisler commented on #123
I checked if I am testing that version of Ruby in travis and I am. Could you @mahigawas28 provide a little more info maybe a backtrace or an example project so I can debug the issue faster.

[2019-07-25 04:40] mahigawas28 commented on #123
@zeisler I am getting this error in lenny project of renewfiancial, please find below error log details

`AvmDbProperty has the following errors:
ActiveMocker.safe_methods is unable to find methods: __missing_class_macros__
error
ActiveMocker.safe_methods is unable to find methods: __missing_class_macros__
/Users/mgavas/.rvm/gems/ruby-2.5.5/gems/active_mocker-2.6.1.beta2/lib/active_mocker/mock_cre

[2019-07-26 18:23] zeisler commented on #123
@mahigawas28 can you try using the latest version and see if your issue persists?

[2019-07-29 21:32] zeisler commented on #123
Thanks for that extra information. I can try to dig into this sometime this week.

[2019-07-30 15:12] zeisler commented on #123
@mahigawas28 I have been trying to reproduce this error and have been unable, but I could have a solution although I am unable to test it.

Add the following monkey patch to `config/initializers/active_mocker.rb`

[code]

If you find that there are more methods like `__missing_class_macros__` showing up add it to the array.

I know this is only a hack, but the only way I could possible find a way

[2019-09-05 05:02] #123 closed